body {
    background: #F0F7FF !important;
    overflow-x: hidden;
}

.my-grades-box {
    position: relative;
    top: 80px;
    left: 300px;
    width: 1200px;
    height: 400px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
}

.my-grades-box-content-grades {
    position: relative;
    top: 30px;
    left: 80px;
    color: #000;
}

.my-grades-box-content-grades-title {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.my-grades-box-content-grades-content-subject {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 1.0em;
    font-weight: 600;
    color: #000;
}